@import "tailwindcss";


body {
    background-color: black;
}
@layer utilities {
    .font-geist-sans {
        font-family: var(--font-geist-sans);
    }
    .font-geist-mono {
        font-family: var(--font-geist-mono);
    }
    .font-oswald {
        font-family: var(--font-oswald);
    }

   
}

